<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
      th{
        text-align:center;
      }
    </style>
  </head>
  <body>
    <script>
      $(document).ready(function(){
        $('table').attr('style','border:2px solid black;')
        $('th').attr('style','border:2px solid black;')
        $('td').attr('style','border:2px solid black;')
      })
    </script>
    <div class="container">
      <div class="jumbotron">
        <div class="table-responsive text-center">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Applied Time</th>
                <th>Approved Time</th>
                <th>Days</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              {% for a in applied %}
              <tr>
                <td>{{a.username}}</td>
                <td>{{a.applied_time}}</td>
                <td>{{a.approved_time}}</td>
                <td>{{a.days}}</td>
                <td>{{a.description}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
