<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <script>
      function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie != '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = jQuery.trim(cookies[i]);
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) == (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }

      function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
          return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $.ajaxSetup({
          beforeSend: function(xhr, settings) {
              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
              }
          }
      });
      $(document).ready(function(){
      $('button').click(function(){
        $(this).html('sending...')
        var un = $('input').val()
        $.ajax({
          url:'/login/change_password_test/',
          dataType:'json',
          type:'POST',
          data:{
            'un':un
          },
          success:function(result){
            if(result.is_success=='success'){
              $('.original').css('display','none')
              $('.not_exist').css('display','none')
              $('.success').css('display','block')
            }
            else if (result.is_success=='failure') {
              $('.original').css('display','none')
              $('.not_exist').css('display','none')
              $('.failure').css('display','block')
            }
            else{
              $('button').html('Submit')
              $('.not_exist').css('display','block')
            }
          }
        })
      })
      })
    </script>
    <div class="container">
        <div class="jumbotron">
          <div class="original">
          <div class="row">
            <div class="col-xs-2 col-sm-2">
            </div>
            <div class="form-group">
              <label class="control-label col-xs-3 col-sm-2" for="un">UserName:</label>
              <div class="col-xs-7 col-sm-6">
                <input type="text" class="form-control" name="username" id="un" placeholder="Enter your username">
              </div>
            </div><br><br>
          </div>
            <div class="text-center">
              <button class="btn btn-success">Submit</button>
            </div><br>
          </div>
          <div class="success" style="display:none;">
            <div class="text-center">
              <div class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  <strong>A Link has been sent to your Email Account to reset your password</strong>
              </div>
            </div>
          </div>
          <div class="failure" style="display:none;">
            <div class="text-center">
              <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  <strong>Check your Internet Connection and try again later !</strong>
              </div>
            </div>
          </div>
          <div class="not_exist" style="display:none;">
            <div class="text-center">
              <div class="alert alert-warning alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  <strong>Enter a valid UserName !</strong>
              </div>
            </div>
          </div>
        </div>
    </div>
  </body>
</html>
